@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(49, 91, 175);
    color: whitesmoke;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease-in-out;
    display: block;
}

.nav a:hover {
    background-color: brown;
    padding: 5px;
    border-radius: 20px;
    transform: rotate(7deg);
}

.logo {
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-family: 'Delicious Handrawn', cursive;
    margin-left: 40px;
}

.logo span {
    color: crimson;
}

/* hero section */

.hero {
    background-color: rgb(169, 169, 235);
    padding: 45px 60px;
    display: flex;
    justify-content: center;
}

.hero-inner {
    max-width: 760px;
    text-align: center;
}

.hero-inner h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-inner p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.button {
    text-decoration: none;
    background-color: blue;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.button:hover {
    background-color: brown;
}

.destinations {
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.destinations-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}


.destination-item h3{
    font-size: 1.6rem;
    font-family: 'Delicious Handrawn', cursive;
    color: #283593;
    margin-bottom: 20px;
}

.destination-item p {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin-top: 20px;
    font-style: italic;
}

.image {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

/* footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: lightgray;
}